@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Simple_API_Database.Models.EF_Models.Company>

<h2>Random Range of Company Symbols</h2>
<hr />
<b>
    <h3>Below are a random selection of companies. Click the save button below to store the data.</h3>
</b>
    <h6> This site is intended to help investors evaluate potential investments. While the stocks here
    are randomly generated, in a functional version an investor would evaluate their personal portfolio.
    They would then be able to navigate to different pages through the menu above to gain further insights into 
    their stocks.</h6>
</b>
<table class="table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
            </tr>
        }

        @{
            Model.Count();
        }
    </tbody>
</table>
<tr>
    <td>
        <a id="dbopt" asp-controller="Home" asp-action="PopulateSymbols"><img src="~/img/button_save-data.png" /></a>
    </td>
</tr>