@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Simple_API_Database.Models.EF_Models.Sector>

<img src="~/img/Sector.jpg" alt="Larn Visual Studio" class="img-responsive" style="text-align:center" />
<h2>Sector Performances</h2>
<hr />
<b>
    <h3>Below is information pertaining to performance in different market sectors. Click the save button below to store the data.</h3>
</b>
    <h6>Stocks within a given portfolio will fall within the following market sectors. Investors can guage the performance of those 
    stocks against the averages of those sectors.</h6>
</b>

<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Name
            </th>
            <th>
                Performance
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.performance)
            </td>
        </tr>
        }

        @{
            Model.Count();
        }
    </tbody>
</table>
<tr>
    <td>
        <a id="dbopt" asp-controller="Home" asp-action="PopulateType"><img src="~/img/button_save-data.png" /></a>
    </td>
</tr>